.edit_area_1row {
	width:100%;
	display:block;
}

.btn_no_audio {
	background-color: white;
}

.btn_audio {
	background-color: green;
}

.tr:hover {
	opacity: 0.85;
}

.tr_unlocked {
	_opacity:0.8;
}

.tr_nonr {
	opacity:0.5;
}

.tr_splitter_5 td {
	border-top: 1px solid black;
}
.tr_splitter_10 td {
	border-top: 2px solid black;
}
.tr_splitter_day td {
	border-top: 3px solid black;
}

.tr_test {
	background-color: #FFFFFF;
}
.tr_test span {
	visibility:hidden;
}
.tr_test:hover {
}
.tr_test:hover span {
	_visibility:visible;
}


td:focus {
    background: yellow;
}
td:focus span {
	_visibility:visible;
}


.text_link {
	color: black !important;
}
